BasedOnStyle: Google
Language: Cpp
Standard: Cpp20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
PointerAlignment: Left
AlignTrailingComments: true

ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false

SortIncludes: true
IncludeBlocks: Preserve

IndentNamespace: Inner
IndentAccessModifiers: true

AlwaysBreakTemplateDeclarations: Yes
DerivePointerAlignment: false
